## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [41]:
import pandas as pd
import numpy as np
import random

In [42]:
np=np.random.randint(10232123,size=6)
np

array([6362682, 6463509, 5206747, 7652808, 7838681, 8584159])

# dataframe

In [45]:
data = pd.DataFrame({'國家': ["美國","日本","香港","新加波","韓國","台灣"],'人口': (np)})
data

    國家       人口
0   美國  6362682
1   日本  6463509
2   香港  5206747
3  新加波  7652808
4   韓國  7838681
5   台灣  8584159

# 求人口最多的國家

In [48]:
data[data['人口']==data['人口'].max()]

   國家       人口
5  台灣  8584159